<th>{{burger_name}}</th>
<th>
    {{#if devoured}}
    <button type="button" class="btn btn-xs btn-danger delete-burger" data-id="{{this.id}}">
    DELETE!
    </button>
    {{else}}
    <button type="button" class="btn btn-xs btn-info change-devoured" data-id="{{id}}" data-newsdevoured="{{devoured}}">
    Eat This!
	</button>
    {{/if}}
 </th>    